@model CreateEmployeeViewModel
@{
	ViewBag.Title = "Create Employee Page";
}
<div class="container">
    <form method="post" asp-action="create" asp-controller="home">
        <div>
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Department">Department</label>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        
        <div class="row mt-2">
           <div class="col-1">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            <div class="col-1 me-auto">
                <a asp-action="index" asp-controller="home" class="btn btn-primary" style="width:auto;">Cancel</a>

            </div>
        </div>
    </form>
    
</div>